<div class="container">
  <br />
  <h1 class="mat-title reservering-title">Reservering Afhandelen</h1>
  <hr />

  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="reserveringForm">
      <div class="reservering-afhandelen mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
          <!-- Materiaal Column -->
          <ng-container matColumnDef="materiaal_naam">
            <mat-header-cell *matHeaderCellDef> Materiaal </mat-header-cell>
            <mat-cell *matCellDef="let elements"> {{elements.materiaal_naam}} </mat-cell>
          </ng-container>

          <!-- Aantal Column -->
          <ng-container matColumnDef="aantal">
            <mat-header-cell *matHeaderCellDef> Aantal </mat-header-cell>
            <mat-cell *matCellDef="let elements"> {{elements.aantal}} </mat-cell>
          </ng-container>

          <!-- Studentnaam Column -->
          <ng-container matColumnDef="student_naam">
            <mat-header-cell *matHeaderCellDef> Studentnaam </mat-header-cell>
            <mat-cell *matCellDef="let elements"> {{elements.student_naam}} </mat-cell>
          </ng-container>

          <!-- Studentnummer Column -->
          <ng-container matColumnDef="student_nummer">
            <mat-header-cell *matHeaderCellDef> Studentnummer </mat-header-cell>
            <mat-cell *matCellDef="let elements"> {{elements.student_nummer}} </mat-cell>
          </ng-container>

          <!-- Einddatum Column -->
          <ng-container matColumnDef="einddatum">
            <mat-header-cell *matHeaderCellDef> Einddatum </mat-header-cell>
            <mat-cell *matCellDef="let elements"> {{elements.einddatum}} </mat-cell>
          </ng-container>

          <!-- Aanmaakdatum Column -->
          <ng-container matColumnDef="aanmaakdatum">
            <mat-header-cell *matHeaderCellDef> Aanmaakdatum </mat-header-cell>
            <mat-cell *matCellDef="let elements"> {{elements.aanmaakdatum}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <br /><br />

      <form [formGroup]="reserveringForm" novalidate class="form-reservering">

        <ng-template matStepLabel>Reservering afhandelen</ng-template>

        <mat-form-field class="form-status">
          <mat-select formControlName="status"
                      placeholder="Status"
                      aria-label="Status"
                      formControlName="status"
                      required>
            <mat-option *ngFor="let singleStatus of status" [value]="singleStatus.value">
                {{ singleStatus.viewValue }}
              </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-aantal">
          <input type="number" placeholder="Aantal"
                  aria-label="Aantal"
                  matInput formControlName="aantal"
                  required>
        </mat-form-field>

        <mat-form-field class="form-pincode">
          <input type="number" placeholder="Pincode"
                  aria-label="Pincode" matInput
                  min="0" formControlName="pincode"
                  required/>
        </mat-form-field>

        <mat-form-field class="form-kluisnummer">
          <mat-select placeholder="Kluisnummer"
          aria-label="Kluisnummer" matInput
          min="0" formControlName="kluisnummer"
          required>
            <mat-option *ngFor="let kluisje of kluisjes" [value]="kluisje.$key">{{ kluisje.kluisnummer }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-opmerking">
          <textarea matInput placeholder="Opmerking"
                    formControlName="opmerking"
                    maxlength="150"
                    #omschrijving>
          </textarea>
          <mat-hint align="end">{{omschrijving.value.length}} / 150</mat-hint>
        </mat-form-field>

        <div class="form-button-container">
          <button mat-raised-button
                  routerLink="/reservering">
            Annuleren
          </button>

          <button mat-raised-button
                  color="primary"
                  matStepperNext>
            Volgende
          </button>
        </div>

      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Bevestiging</ng-template>
      <div class="secondstep-reservering">
        <div class="step2-header">
          <h1>{{materiaalNaam}}</h1>
          <h3>{{studentNaam}}</h3>
          <h3>{{studentNummer}}</h3>
          <hr />
        </div>

        <div class="step2-table">
          <table>
            <tr>
              <td class="bevestiging-tabel-leftcol"><b>Aantal</b></td>
              <td>{{reserveringForm.value.aantal}}</td>
            </tr>
            <tr>
              <td class="bevestiging-tabel-leftcol"><b>Pincode</b></td>
              <td>{{reserveringForm.value.pincode}}</td>
            </tr>
            <tr>
              <td class="bevestiging-tabel-leftcol"><b>Kluisnummer</b></td>
              <td>{{reserveringForm.value.kluisnummer}}</td>
            </tr>
            <tr>
              <td class="bevestiging-tabel-leftcol"><b>Opmerking</b></td>
              <td>{{reserveringForm.value.opmerking}}</td>
            </tr>
          </table>
        </div>

        <div class="form-button-container">
          <button mat-raised-button
                  matStepperPrevious>
            Terug
          </button>
          <button mat-raised-button
                  color="primary"
                  (click)="submit()">
            Bevestigen
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
