<div class="container">
    <div class="content">

        <div *ngIf="showSpinner" class="loader">
            <h3 class="mat-subheading-2">Laden...</h3>
            <md-progress-bar mode="indeterminate"></md-progress-bar>            
        </div>

        <div class="materialen-items">
            <div *ngFor="let materiaal of materialen" class="card">
                <h3 class="mat-subheading-2">{{materiaal.naam}}</h3>
                <img src={{materiaal.afbeelding}} width="100%"/>
                <p class="mat-body-1 card-omschrijving">
                    <b>Omschrijving:</b><br/>
                    {{materiaal.omschrijving}}
                </p>
                <p class="mat-body-1">beschikbaar: <span>{{materiaal.aantal}}</span></p>
                <div class="reserveer-materiaal">
                    <md-form-field class="full-width hoeveelheid">
                        <input mdInput type="number" maxlength="2" min="1" max={{materiaal.aantal}} value="1" placeholder="aantal"/>
                    </md-form-field>
                    <button class="full-width toevoegen" md-raised-button color="accent">Toevoegen</button>
                </div>
            </div>
        </div>

        <div class="materialen-paginator">
            <button md-raised-button color="primary" class="page-btn" (click)="onPrev()" [disabled]="!prevKeys?.length"><</button>
            <button md-button class="page-btn" *ngFor="let page of pages" [class.mat-primary]="page == activePage" (click)="changePage(page)">
                {{page}}
            </button>
            <button md-raised-button color="primary" class="page-btn" (click)="onNext()" [disabled]="!nextKey">></button>
        </div>
    </div>
</div>