<md-grid-list cols="12" rowHeight="150px">
  <md-grid-tile>
    <img src="../assets/images/hu-logo.png" alt="HU logo" width="150" height="150"/>
  </md-grid-tile>
  <md-grid-tile colspan="11">
    <h1 class="mat-display-1 title">Uitleen Systeem</h1>
  </md-grid-tile>
</md-grid-list>

<md-toolbar color="primary" id="navbar">
  <span class="spacer"></span>
  <a id="login-btn" md-button routerLink=".">
    <md-icon>lock_outline</md-icon>
    Login
  </a>
</md-toolbar>
  

<materialen-lijst [images]="images"></materialen-lijst>
