.header-container{
    height: 100px;
    width: 100%;

    display: grid;

    grid-template-columns: 15% auto;
    grid-template-areas: "logo";

}

.background-image {
    position: absolute;

    background: #ffffff url("../assets/images/magazijn.jpg") no-repeat center 20%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(3px) sepia(10%);
    -moz-filter: blur(3px) sepia(10%);
    -o-filter: blur(3px) sepia(10%);
    -ms-filter: blur(3px) sepia(10%);
    filter: blur(3px) sepia(10%);
    
    width: 100%;
    height: 110px;

    z-index: -1;
}

.logo-container {
    grid-area: logo;

    background-color: white;
    border-radius: 2px 2px 0 0;

    height: 100%;
    width: 100%;

    filter: opacity(80%);

    z-index: -1;
}

.logo{
    grid-area: logo;
    height: 90%;
    width: 96%;
    object-fit: contain;
    object-position: bottom;
    justify-self: center;
    align-self: center;
} 

.spacer {
    flex: 1 1 auto;
}

.spacer-outer {
    flex: 0.7 1 auto;
}

#login-btn {
    line-height: 35px;
}

.navbar {
    display: grid;

    height: 100%;
    width: 100%;
    
    grid-template-columns: 25% auto 110px auto 110px 25%;
    grid-template-rows: auto;
    grid-template-areas: ". title reserveren . login ."
}

.toolbar-title{
    grid-area: title;
    padding-right: 10px;
    padding-top: 4px;
}

.reserveren {
    grid-area: reserveren;
}

.login {
    grid-area: login;
}

.tabs{
    min-height: 100%;
    height: auto;
    z-index: -1;
    padding: 20px 25%;
    background: white;
}


@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) { 

    .header-container{
        height: 80px;
        grid-template-columns: 20% auto;
    }


    .navbar {
        grid-template-columns: 10% 0.5fr 110px 2fr 110px 10%;
    }

    .tabs{
        padding: 20px 10%;
    }
}