<div class="header-container">
  <img alt="Magazijn Achtergrond" class="background-image" />
  <div class="logo-container"></div>
  <img src="../assets/images/hu-logo.svg" alt="HU logo" class="logo" />
</div>
<div class="content">
  <md-toolbar color="primary">
    <div class="navbar">

      <a [routerLink]="['/materiaal', 1]" class="toolbar-title">
        <h1 class="mat-display-1">Uitleen Bibliotheek</h1>
      </a>

      <button *ngIf="!user" id="login-btn" class="auth-btn" md-button (click)="openDialog()">
              <md-icon>lock_outline</md-icon>
              Login
      </button>
      <button *ngIf="user != null" id="logout-btn" class="auth-btn" md-button (click)="logout()">
              <md-icon>lock_open</md-icon>
              {{user.email}}
      </button>

    </div>
  </md-toolbar>


  <nav md-tab-nav-bar class="tabs">
    <a md-tab-link [routerLink]="materiaal" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      Materiaal
    </a>
  </nav>


  <router-outlet class="main"></router-outlet>

  <footer class="footer">
    <h3 class="mat-subheading-2">Uitleen Bibliotheek - 2017</h3>
  </footer>
</div>
