<div class="login">
    <h1 class="mat-display-1">
        Inloggen
    </h1>
    <md-input-container>
        <input mdInput #email type="email" required/>
        <md-placeholder>
            Username
        </md-placeholder>
    </md-input-container>
    <br/>
    <md-input-container>
        <input mdInput #password required type="password" />
        <md-placeholder>
            Password
        </md-placeholder>
    </md-input-container>
    <br/>
    <md-hint *ngIf="loginError">
            Email or password incorrect.
    </md-hint>
    <button md-raised-button color="warn" (click)="login(email.value, password.value)">LOGIN</button>
</div>

<script>
    $('.message a').click(function () {
        $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });

</script>