.container{
  height: 100%;
  width: 100%;
  background: url("../../../assets/images/magazijn.jpg") no-repeat center center fixed;
  background-size: cover;
}


.login {
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
}

.login:before{
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}

.content{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
}

.content > h1 {
  color: #161c20;
  text-align: left;
}

.logo {
  width: 100%;
}
