/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
/* ng material 2 Toolbar styling*/
.mat-toolbar{
    margin-top: -7px !important;
    height: 40px !important;
    min-height: 40px !important;
}

.mat-toolbar-row {
    height: 40px !important;
}
