<!--<div class="header-container" >-->
  <!--<img alt="Magazijn Achtergrond" class="background-image" />-->
  <!--<div class="logo-container"></div>-->
  <!--<img src="../../../assets/images/hu-logo.svg" alt="HU logo" class="logo" />-->
<!--</div>-->
<div *ngIf="nav.visible">
  <header>
    <div class="background"></div>
    <div class="logo-container"></div>
    <div class="logo"></div>
  </header>
  <nav>
    <mat-toolbar color="primary">

      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>

      <button mat-button (click)="showCart()"><i class="material-icons">shopping_cart</i></button>

      <button mat-button (click)="showReserveringen()">Mijn reserveringen</button>
      
      <p class="mat-body-2">{{(user | async)?.email}}</p>
      <button mat-button (click)="logout()">Logout</button>
      <span class="spacer"></span>
    </mat-toolbar>
  </nav>
</div>
